.login {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 700px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgb(206, 206, 206);
}

.login-h1 {
    text-align: center;
    margin-top: 90px;
    font-size: 80px;
    color: #9bfd32;
    text-shadow: 2px 2px 3px #afafaf;
}

.menu {
    margin-left: 50px;
}

.menu-drop {
    padding: .5rem;
}

.menu-drop a {    
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.menu-drop a:hover {
    color: rgba(0,0,0,0.8);
}

.logout {
    position: absolute;
    right: 0px;
}

.welcome {
    text-align: center;
    margin-top: 35vh;
    font-weight: normal;
}

.welcome span {
    font-weight: bold;
}

header {
    background-color: #f8f9fa;
}

.cadastrar-paciente {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgb(206, 206, 206);
}

.cadastrar-h2 {
    margin-bottom: 50px;
}

.btn-cadastrar {
    float: right;
}

.convenio {
    height: 36px;
    width: 170px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.last-form-row {
    margin-bottom: 50px;
}

.form-consulta {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgb(206, 206, 206);
}

.form-consulta span {
    margin-left: 5px;
    margin-right: 15px;
}

.head-lista {
    height: 50px;
    border-radius: 4px;
    background-color: #e0e0e0;
    padding-left: 15px;
    padding-top: 11px;
}

.head-lista p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.lista-pacientes {
    overflow: hidden;
}

.lista-pacientes ul {
    list-style: none;
    padding: 7px 15px 0 15px;
    display: block;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 0;
}

.lista-pacientes ul:nth-of-type(even) {
    background-color: #e0e0e0;
}

.lista-pacientes ul li a {
    text-decoration: none;
}

.lista-pacientes ul li {
    float: right;
}

.lista-pacientes ul li:nth-of-type(1) {
    float: left;
}

.lista-pacientes ul li:nth-of-type(2) {
    margin-left: 20px;
}

.label {
    margin-bottom: 8px;
}

.field {
    display: block;
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #afafaf;
    background-color: #e0e0e0;
    border-radius: 4px;
}